<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/include_main/footer_main.css">
  <title>Document</title>
</head>
<body>
  <footer>

    <div class="footer__wrapper">
      <div class="footer__wrapper__container">

        <div class="footer__container__left"><img src="/img/logo.png" alt="로고이미지"></div>
        <div class="footer__container__right">
          <div class="footer__right__above">
            <a href="">개인정보처리방침</a>
            <a href="">개인정보보호관리규정</a>
            <a href="">취업지원팀소개</a>
            <a href="">오시는길</a>
          </div>
          <div class="footer__right__below">
            <span>본 홈페이지는 대학혁신사업 예산으로 제작되었습니다.</span>
            <span>(06134) 서울 강남구 테헤란로7길 7 에스코빌딩 6~7층 J Career 우편번호 06134 전화 02-561-1911 TEL: 02) 02-561-1911 FAX: 02)561-1911</span>
            <span>COPYRIGHT ⓒ 2024 J Career, OFFICE OF CAREER SERVICES, ALL RIGHTS RESERVED. Contact : cjh@jcareer.ac.kr</span>
          </div>
        </div>

      </div>
    </div>


  </footer>
</body>
</html>