<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/include_main/header_main.css">
  <title>Document</title>
</head>
<body>
  <header>

    <div class="header__above">

      <div class="header__above__center">

        <a href="/user/join" class="above__center__join">회원가입</a>
        <a href="/user/login" class="above__center__login">로그인</a>

      </div>

    </div>

    <div class="header__below">

      <div class="header__below__center">

        <a href="/" class="header__below__logo"><img src="/img/logo.png" alt="홈페이지로고"></a>
        <div class="header__below__menu">
          <a href=""><div class="header__menu__list">취업지원안내</div></a>
          <a href=""><div class="header__menu__list">채용공고</div></a>
          <a href=""><div class="header__menu__list">진로취업교육</div></a>
          <a href=""><div class="header__menu__list">진로취업상담</div></a>
          <a href=""><div class="header__menu__list">취업자료실</div></a>
          <a href=""><div class="header__menu__list">커리어로드맵</div></a>
        </div>

      </div>

    </div>

  </header>
</body>
</html>