<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Gowun+Dodum&display=swap" rel="stylesheet">
  <script src="https://kit.fontawesome.com/580a20ac80.js" crossorigin="anonymous"></script>
  <script src="/js/jquery-3.7.1.min.js"></script>
  <link rel="stylesheet" href="/css/user_stu/home.css">
  <script src="/js/home_stu.js"></script>
  
<title>Document</title>
</head>
<body>

  <header>
    <div class="header__wrapper">
      <div class="header__wrapper__container">
        <img src="/img/logo.png" alt="로고">
        <div class="header__wrapper__my">
          <i class="fa-regular fa-bell"></i>
          <a href="" th:text="${session.user_id}"></a>
        </div>
      </div>
    </div>
  </header>

  <section>
    <div class="section__wrapper">
      <div class="section__wrapper__container">

        <div class="section__container__left">
          <div class="section__left__menu" id="my__home" onclick="my__home()"><span>My 홈</span></div>
          <div class="section__left__menu" id="my__notice" onclick="my__notice()"><span>채용공고</span></div>
          <div class="section__left__menu" id="my__resume" onclick="my__resume()"><span>이력서작성</span></div>
          <div class="section__left__menu" id="my__apply" onclick="my__applyList()"><span>지원 내역</span></div>
          <div class="section__left__menu" onclick="my__receiveList()"><span>받은 제안</span></div>
          <div class="section__left__menu"><span>회원 정보 수정</span></div>
          <a class="section__left__menu logout"><span>로그아웃</span></a>
        </div>
        <div class="section__container__right">

          <iframe id="iframe" src="/user_stu/myhome_stu" width="100%" height="100%" allowfullscreen></iframe>

        </div>

      </div>
    </div>
  </section>
  <script src="/js/home_stu.js"></script>
  
 <div th:include="/include_main/footer_main"></div>
</body>
</html>