<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/user_stu/notice_stu.css">
  <script src="/js/home_stu.js"></script>
  <title>Document</title>
</head>
<body>
  <div class="notice__header"><span>받은 제안</span></div>

  <table class="apply_table">
    <colgroup>
      <col width="80">
      <col width="700">
      <col width="100">
    </colgroup>
    <thead>
    <tr>
        <th>번호</th>
        <th>제목</th>
        <th>등록일</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>1</td>
        <td><a href="/student/comp_popup">[삼성엔지니어링] 2024년 상반기 삼성엔지니어링 3급 신입사원 채용 · 대학생 인턴 모집</a></td>
        <td>2024-03-15</td>
    </tr>
    <tr>
        <td>2</td>
        <td><a href="#">[삼성엔지니어링] 2024년 상반기 삼성엔지니어링 3급 신입사원 채용 · 대학생 인턴 모집</a></td>
        <td>2024-03-15</td>
    </tr>
    <tr>
        <td>3</td>
        <td><a href="#">[삼성엔지니어링] 2024년 상반기 삼성엔지니어링 3급 신입사원 채용 · 대학생 인턴 모집</a></td>
        <td>2024-03-15</td>
    </tr>
    <tr>
        <td>4</td>
        <td><a href="#">[삼성엔지니어링] 2024년 상반기 삼성엔지니어링 3급 신입사원 채용 · 대학생 인턴 모집</a></td>
        <td>2024-03-15</td>
    </tr>
    </tbody>
  </table>
</body>
</html>