<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/user_co/notice_co.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script type="text/javascript" src="/js/home_co.js" defer></script>
  <title>Document</title>
</head>
<body>
  	<div class="notice__header"><span>최종합격자 명단</span></div>
  

	<form id="myForm" action="" method="get">
		서류전형 <input type="checkbox" id="checkbox1" name="checkbox1">
		면접전형 <input type="checkbox" id="checkbox2" name="checkbox2">
		최종합격 <input type="checkbox" id="checkbox3" name="checkbox3">
		<button type="button" onclick="submitForm()">확인</button>
	</form>


	  <table class="apply_table">
	    <colgroup>
	      <col width="80">
	      <col width="700">
	      <col width="100">
	    </colgroup>
	    <thead>
	    <tr>
	        <th>번호</th>
	        <th>이력서 제목</th>
	        <th>이름</th>
	    </tr>
	    </thead>
	    <tbody>
		    <tr th:each="vo : ${vo}">
		        <td th:text="${vo.resume_num}">1</td>
		        <td th:text="${vo.title}"><a href="/student/comp_popup">이력서 제목</a></td>
		        <td th:text="${vo.stu_name}">지원자 이름</td>
		    </tr>
	    </tbody>
	  </table>
</body>
</html>