<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/user_co/notice_co.css">
  <script src="/js/jquery-3.7.1.min.js"></script>
  <title>Document</title>
</head>
<body>

  <div class="notice__header"><span>공고 등록 현황</span></div>

  <table class="apply_table">
    <colgroup>
      <col width="80">
      <col width="700">
      <col width="100">
    </colgroup>
    <thead>
    <tr>
        <th>번호</th>
        <th>요청한 공고 이름</th>
        <th>승인여부</th>
        <th>공고확인</th>
    </tr>
    </thead>
    <tbody>
    <tr id="tr-yn" th:each="uploadPost : ${uploadPost}" th:data-uploadPost="${uploadPost}">
        <td th:text="${uploadPost.title}">1</td>
        <td th:text="${uploadPost.title_name}"><a href="/student/comp_popup">[삼성엔지니어링] 2024년 상반기 삼성엔지니어링 3급 신입사원 채용 · 대학생 인턴 모집</a></td>
        <td class="td-yn" th:class="${uploadPost.yn == 'Y' ? 'yn-y' : (uploadPost.yn == 'N' ? 'yn-n' : 'yn-t')}" th:text="${uploadPost.yn}">Y/N</td>
        <td style="width: 100px;"><button>공고 확인</button></td>
    </tr>
    <tr>
        <td>2</td>
        <td><a href="#">[삼성엔지니어링] 2024년 상반기 삼성엔지니어링 3급 신입사원 채용 · 대학생 인턴 모집</a></td>
        <td>Y/N</td>
        <td style="width: 100px;"><button>이력서 확인</button></td>
    </tr>
    <tr>
        <td>3</td>
        <td><a href="#">[삼성엔지니어링] 2024년 상반기 삼성엔지니어링 3급 신입사원 채용 · 대학생 인턴 모집</a></td>
        <td>Y/N</td>
        <td style="width: 100px;"><button>이력서 확인</button></td>
    </tr>
    <tr>
        <td>4</td>
        <td><a href="#">[삼성엔지니어링] 2024년 상반기 삼성엔지니어링 3급 신입사원 채용 · 대학생 인턴 모집</a></td>
        <td>Y/N</td>
        <td style="width: 100px;"><button>이력서 확인</button></td>
    </tr>
    </tbody>
  </table>
  <script defer src="/js/home_co.js"></script>
</body>
</html>