<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/user_co/notice_co.css">
  <title>Document</title>
</head>
<body>

  <div class="notice__header"><span>채용 제안 내역</span></div>

  <table class="apply_table">
    <colgroup>
      <col width="80">
      <col width="700">
      <col width="100">
    </colgroup>
    <thead>
    <tr>
        <th>번호</th>
        <th>제안한 이력서 제목 / 학생 이름</th>
        <th>승낙여부</th>
        <th>이력서 확인</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>1</td>
        <td><a href="/student/comp_popup">[삼성엔지니어링] 2024년 상반기 삼성엔지니어링 3급 신입사원 채용 · 대학생 인턴 모집</a></td>
        <td>Y/N</td>
        <td style="width: 100px;"><button>이력서 확인</button></td>
    </tr>
    <tr>
        <td>2</td>
        <td><a href="#">[삼성엔지니어링] 2024년 상반기 삼성엔지니어링 3급 신입사원 채용 · 대학생 인턴 모집</a></td>
        <td>Y/N</td>
        <td style="width: 100px;"><button>이력서 확인</button></td>
    </tr>
    <tr>
        <td>3</td>
        <td><a href="#">[삼성엔지니어링] 2024년 상반기 삼성엔지니어링 3급 신입사원 채용 · 대학생 인턴 모집</a></td>
        <td>Y/N</td>
        <td style="width: 100px;"><button>이력서 확인</button></td>
    </tr>
    <tr>
        <td>4</td>
        <td><a href="#">[삼성엔지니어링] 2024년 상반기 삼성엔지니어링 3급 신입사원 채용 · 대학생 인턴 모집</a></td>
        <td>Y/N</td>
        <td style="width: 100px;"><button>이력서 확인</button></td>
    </tr>
    </tbody>
  </table>
</body>
</html>