
.notice__header{width: 100%; display: flex; align-items: center; justify-content: center;}
.notice__header span{font-size: 35px; font-weight: 600; }

table {
  font-size: 14px;
  box-shadow: 0 2px 5px rgba(0,0,0,.25);
  border-collapse: collapse;
  border-radius: 5px;
  margin: 0 auto;
  width: 100%;
  margin-top: 20px;
}

#myForm{display:flex;}

.notice__below__apply{width:100px;}

.yn-y {
    color: blue;
    font-weight:blod;
}

.yn-n {
    color: red;
    font-weight:blod;
}

.yn-t {
    color: black;
}

.apply_table > thead > tr > th { text-align:center;}
.apply_table > tbody > tr > td > form > button{width:50px; margin-left:20px; text-align:center;}

th {
  text-align: center;
}
  
thead {
  font-weight: bold;
  color: #fff;
  background: rgb(22, 46, 110);
}
  
 td, th {
  padding: 14px 5px;
  text-align: center;
  vertical-align: middle;
}
  
 td {
  border-bottom: 1px solid rgba(0,0,0,.1);
  background: #fff;
}

a {
  color: #73685d;
}
  
 @media all and (max-width: 768px) {
    
  table, thead, tbody, th, td, tr {
    display: block;
  }
  
  th {
    text-align: right;
  }
  
  table {
    position: relative; 
    padding-bottom: 0;
    border: none;
    box-shadow: 0 0 10px rgba(0,0,0,.2);
    overflow: hidden;
  }
  
  thead {
    float: left;
    white-space: nowrap;
  }
  
  tbody {
    overflow-x: auto;
    overflow-y: hidden;
    position: relative;
    white-space: nowrap;
  }
  
  tr {
    display: inline-block;
    vertical-align: top;
  }
  
  th {
    border-bottom: 1px solid #a39485;
  }
  
  td {
    border-bottom: 1px solid #e5e5e5;
  }
  
  
  }