<?xml version="1.0" encoding="UTF-8"?> 
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.project_wizian2.job.service.JobMapper">
    <insert id="regist" parameterType="map">
        INSERT INTO MANAGER_TEST (
      
			title_name,
			title,
            middle_content,
            middle_content_category,
            middle_middle_people,
            middle_middle_writer,
            middle_two_checkbox_two,
            middle_two_select,
            middle_two_content_content,
            middle_two_checkbox_one,
            middle_two_checkbox_two_twoone,
            middle_two_checkbox_three,
            middle_two_content_box,
            middle_two_content_box_boxone,
            middle_three_writer,
            middle_three_content,
            middle_three_content_email,
            middle_three_content_select,
            phone,
            document,
            checkone
            
        )
        VALUES (
            #{title_name},
            #{title},
            #{middle_content},
            #{middle_content_category},
            #{middle_middle_people},
            #{middle_middle_writer},
            #{middle_two_checkbox_two},
            #{middle_two_select},
            #{middle_two_content_content},
            #{middle_two_checkbox_one},
            #{middle_two_checkbox_two_twoone},
            #{middle_two_checkbox_three},
            #{middle_two_content_box},
            #{middle_two_content_box_boxone},
            #{middle_three_writer},
            #{middle_three_content},
            #{middle_three_content_email},
            #{middle_three_content_select},
            #{phone},
            #{document},
            #{checkone}
           
        )
        
    </insert>
    
<select id="select" resultType="com.example.project_wizian2.command.JobVO">
    SELECT *
    FROM MANAGER_TEST
    WHERE prodd_id = #{prodd_id}
</select>
<select id="getList" resultType="com.example.project_wizian2.command.JobVO">
 		select * 
 		from MANAGER_TEST 
 		
 		order by prodd_id 
 		limit #{pageStart},#{amount}
 </select>	
 <select id="getTotal" resultType="int">
 		
 			select count(*) as total
 			from MANAGER_TEST	
</select>
<delete id="delete">
 			delete from MANAGER_TEST
 			where prodd_id = #{prodd_id}
 			
 		</delete>
 		<update id="update">
 			update MANAGER_TEST set
 			header_main_title=#{header_main_title}
 			,company_title = #{company_title}
 			,middle_content= #{middle_content}
 			,middle_content_category = #{middle_content_category}
 			,middle_middle_people = #{middle_middle_people}
 			, middle_middle_writer = #{middle_middle_writer}
 			,middle_two_checkbox_two = #{middle_two_checkbox_two}
 			,middle_two_select= #{middle_two_select}
 			,middle_two_content_content=#{middle_two_content_content}	
 			,middle_two_checkbox_one=#{middle_two_checkbox_one}
 			,middle_two_checkbox_two_twoone = #{middle_two_checkbox_two_twoone}
 			,middle_two_checkbox_three = #{middle_two_checkbox_three}
 			,middle_two_content_box = #{middle_two_content_box}
 			,middle_two_content_box_boxone = #{middle_two_content_box_boxone}
 			,middle_three_writer = #{middle_three_writer}
 			,middle_three_content = #{middle_three_content}
 			,middle_three_content_email= #{middle_three_content_email}
 			,middle_three_content_select= #{middle_three_content_select}
 			,phone=#{phone}
 			,document=#{document}
 			,checkone=#{checkone}
 			where prodd_id = #{prodd_id}
 			</update>
</mapper>
