<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="com.example.project_wizian2.manager.service.ManagerMapper">

  	<select id="getList" resultType="JobVO">
  		select * from manager_test where yn is null
  	</select>
  	
   	<select id="umList" resultType="ResumeVO">
  		select * from test_resume
  	</select> 
  	
  	<select id="umList2" resultType="ResumeVO">
  		select* from test_resume where stu_yn is null
  	</select> 
  	
  	<select id="umList3" resultType="ResumeVO">
  		select* from test_resume where stu_yn = "y"
  	</select> 
  	
  	<select id="umList4" resultType="ResumeVO">
  		select* from test_resume where stu_yn = "yy"
  	</select> 
  	
  	<select id="umList5" resultType="ResumeVO">
  		select* from test_resume where stu_yn = "yyy"
  	</select> 
  	
  	
  	<update id="updatePostStatus">
  		update manager_test set yn = #{yn} where title = #{title}
  	</update>
  	
  	<select id="updatePost" resultType="JobVO">
  		select * from manager_test where yn = "y"
  	</select>
  	
  	<select id="resumeDetail" resultType="ResumeVO">
  		select * from TEST_RESUME where resume_num = #{resume_num}
  	</select>
  	
  	<delete id="deletePost">
  		delete from manager_test where title=#{title}
  	</delete>
  	
  	<select id="uploadPost" resultType="JobVO">
  		select * from manager_test
  	</select>
  	
  	<update id="updateResume" parameterType="map">
  		update test_resume set stu_yn = #{stu_yn} where stu_name = #{stu_name}
  	</update>
  	
  	
  </mapper>