<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.project_wizian2.user.service.UserMapper">

	<insert id="stu_regist">                       
		insert into STUDENT values ( #{stu_id},
									 #{stu_pw},
									 #{stu_name},
									 #{stu_phone},
									 #{stu_email})
	</insert>
	
	<insert id="com_regist">
		insert into COMPANY values ( #{com_id},
									 #{com_pw},
									 #{com_name},
									 #{com_department},
									 #{com_phone},
									 #{com_email},
									 #{com_type})
	</insert>

	<insert id="man_regist">
		insert into MANAGER values ( #{man_id},
									 #{man_pw},
									 #{man_name},
									 #{man_department},
									 #{man_phone},
									 #{man_email} )
	</insert>







</mapper>

