<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/user_co/notice_co.css">
  <title>Document</title>
</head>
<body>
  <div class="notice__header"><span>학생 이력서 리스트</span></div>

  <table class="apply_table">
    <colgroup>
      <col width="80">
      <col width="700">
      <col width="100">
    </colgroup>
    <thead>
    <tr>
        <th>이력서번호</th>
        <th>제목</th>
        <th>등록일</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="vo, status : ${vo}">
        <td th:text="${vo.resume_num}">1</td>
		<td><a th:href="@{/user_mn/result_resume(resume_num=${vo.resume_num})}" th:text="${vo.title}"></a></td>
        <td>2024-03-15</td>
    </tr>
    </tbody>
  </table>
</body>
</html>